@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inter, monospace;
    background-color: white;
}
.page{
    width: 414px;
    height: 896px;
    margin: 0px;
    background-color: black;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    height: 540px;
}
.hdr_img{
    width: 420px;
    height: 370px;
    background-position: top center ;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.hdr_titulo{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}
.hdr_sub{
    font-weight: 400;
    color: orange;
}
.hdr_local{
    font-weight: lighter;
    color: #fff;
    font-size: 15px;
    margin-bottom: 15px;
}
.hdr_tbuttom{
    display: flex;
    justify-content: center;
    gap:15px;
}
button{
    width: 40%;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;    
}
.btn_email{
    display: flex;
    align-items: center;
    justify-content:left;
}
.btn_linkedin{
    display: flex;
    background-color: #0a66c2;
    color: #fff;
    align-items: center;
    justify-content:left;
}
.btn_ico_linkedin, .btn_ico_email{
    margin: 0px 10px 0 25px;
}
.btn_ico_email{
    color: black;
}    
.main_content{
    color: #fff;
    margin: 0px 30px;
    text-align: justify;
}
.main_titulo{
    font-weight: 400;
    margin: 20px 0 8px 0;
}
.main_prgf{
    font-size: 14px;
}
footer{
    display: flex;
    text-align: center;
    align-content: end;
}
ion-icon{
    padding: 10px;
    color: #fff;
    font-size: 35px;
}
